In [89]:
import pandas as pd
import numpy as np

In [102]:
# https://data.sfgov.org/Housing-and-Buildings/Land-Use/us3s-fp9q
#
# Land use categories for every parcel in San Francisco. The land use categories are derived from a range of City and commercial databases. Where building square footages were missing from these databases they were derived from a LIDAR survey flown in 2007.
#
# Land use categories are as follows (units are square feet):
# CIE = Cultural, Institutional, Educational
# MED = Medical
# MIPS = Office (Management, Information, Professional Services)
# MIXED = Mixed Uses (Without Residential)
# MIXRES = Mixed Uses (With Residential)
# PDR = Industrial (Production, Distribution, Repair)
# RETAIL/ENT = Retail, Entertainment
# RESIDENT = Residential
# VISITOR = Hotels, Visitor Services
# VACANT = Vacant
# ROW = Right-of-Way
# OPENSPACE = Open Space
#
# Other attributes are:
# RESUNITS = Residential Units
# BLDGSQFT = Square footage data
# YRBUILT = year built
# TOTAL_USES = Business points from Dun & Bradstreet were spatially aggregated to the closest parcel, and this field is the sum of the square footage fields
# The subsequent fields (CIE, MED, MIPS, RETAIL, PDER & VISITOR) were derived using the NAICS codes supplied in the Dun & Bradstreet dataset, and the previous TOTAL_USES column.
#
# The determining factor for a parcel's LANDUSE is if the square footage of any non-residential use is 80% or more of its total uses. Otherwise it becomes MIXED.
#
# In the case where RESIDENT use has some square footage of non-residential use, this is mainly accessory uses such as home businesses, freelancers, etc.
# Last updated: March, 2016


land_use = pd.read_csv("LandUse2016.csv")
land_use.columns
for c in ['BLKLOT', 'ST_TYPE', 'the_geom', 'MAPBLKLOT', 'BLOCK_NUM', 'LOT_NUM', 'FROM_ST', 'TO_ST', 'STREET', 'SHAPE_Leng', 'SHAPE_Area']:
    del land_use[c]
land_use['EST_BLDGSQFT'] = np.where(land_use['BLDGSQFT']>0, land_use['BLDGSQFT'], land_use['TOTAL_USES'])
land_use.to_csv('LandUse2016_cleaned.csv')
land_use.head(30)

,OBJECTID,RESUNITS,BLDGSQFT,YRBUILT,TOTAL_USES,LANDUSE,CIE,MED,MIPS,RETAIL,PDR,VISITOR,EST_BLDGSQFT
0,1,5,5460,1912,0,RESIDENT,0,0,0,0,0,0,5460
1,2,1,4500,1900,3471,MIXRES,0,0,3471,0,0,0,4500
2,3,2,5783,1900,0,RESIDENT,0,0,0,0,0,0,5783
3,4,2,3700,1940,0,RESIDENT,0,0,0,0,0,0,3700
4,5,2,4543,1938,0,RESIDENT,0,0,0,0,0,0,4543
5,6,3,5500,1900,0,RESIDENT,0,0,0,0,0,0,5500
6,7,0,0,0,20509,VACANT,0,0,2455,18054,0,0,20509
7,8,0,0,1900,43725,PDR,0,0,0,43725,0,0,43725
8,9,0,0,1900,28728,PDR,0,0,0,28728,0,0,28728
9,10,0,0,1900,16214,OpenSpace,0,0,0,16214,0,0,16214
10,11,0,0,1907,27335,VISITOR,0,0,6776,11687,0,8872,27335
11,12,3,3711,1905,0,RESIDENT,0,0,0,0,0,0,3711
12,13,3,3711,1906,0,RESIDENT,0,0,0,0,0,0,3711
13,14,3,3711,1905,0,RESIDENT,0,0,0,0,0,0,3711
14,15,7,5099,1961,0,RESIDENT,0,0,0,0,0,0,5099
15,16,6,7290,1974,0,RESIDENT,0,0,0,0,0,0,7290
16,17,1,3905,1958,0,RESIDENT,0,0,0,0,0,0,3905
17,18,2,2688,2004,0,RESIDENT,0,0,0,0,0,0,2688
18,19,1,1820,1927,0,RESIDENT,0,0,0,0,0,0,1820
19,20,1,1020,1926,0,RESIDENT,0,0,0,0,0,0,1020
20,21,3,1438,1907,3862,MIXRES,0,0,3862,0,0,0,1438
21,22,0,4670,1930,11370,MIPS,0,0,11370,0,0,0,4670
22,23,0,0,0,54089,VISITOR,0,0,22664,19282,0,12143,54089
23,24,0,198525,1974,83405,MIXED,3829,0,0,59789,19787,0,198525
24,25,0,24627,1953,5421,RETAIL/ENT,0,0,0,5421,0,0,24627
25,26,0,6841,1921,12450,RETAIL/ENT,0,0,0,12450,0,0,6841
26,27,0,6800,1948,4492,RETAIL/ENT,0,0,0,4492,0,0,6800
27,28,0,6100,1993,25305,MIXED,0,0,14127,11178,0,0,6100
28,29,0,4000,1948,17563,RETAIL/ENT,0,0,1773,15790,0,0,4000
29,30,0,3500,1948,3853,RETAIL/ENT,0,0,0,3853,0,0,3500

In [91]:
sqft_column = 'EST_BLDGSQFT'

In [92]:
# zero = land_use[(land_use[sqft_column]==0)]
# zero.groupby('LANDUSE')['TOTAL_USES'].sum()

In [93]:
# land_use.groupby('LANDUSE')['TOTAL_USES'].sum()

In [103]:
total_sqft = land_use.groupby('LANDUSE')[sqft_column].sum()
total_sqft

LANDUSE
CIE              18280059
MED               2795081
MIPS             59588952
MISSING DATA      2995373
MIXED            57141041
MIXRES          108874156
OpenSpace         6961268
PDR              24722274
RESIDENT        253103154
RETAIL/ENT       21039192
Right of Way         9813
VACANT            6195533
VISITOR          19157119
Name: EST_BLDGSQFT, dtype: int64

In [95]:
NONRES_USES = ['CIE','MED','MIPS','MIXED','PDR','RETAIL/ENT','VISITOR']
RES_USES = ['RESIDENT', 'MIXRES']
OTHER_USES = ['MISSING DATA', 'OpenSpace', 'Right of Way', 'VACANT']

In [96]:
residential_over_50k = land_use[(land_use[sqft_column] > 50000) & (land_use['LANDUSE'].isin(RES_USES))]
residential_over_50k[sqft_column].sum()

31408878

In [97]:
nonres_over_10k = land_use[(land_use[sqft_column]>=10000) & (land_use['LANDUSE'].isin(NONRES_USES))]
nonres_over_10k[sqft_column].sum()

176667578

In [98]:
nonres = land_use[(land_use['LANDUSE'].isin(NONRES_USES))]
nonres[sqft_column].sum()

202723718

In [99]:
mixed_res = land_use[(land_use['LANDUSE']=='MIXRES')]
mixed_res.head(10)

,OBJECTID,RESUNITS,BLDGSQFT,YRBUILT,TOTAL_USES,LANDUSE,CIE,MED,MIPS,RETAIL,PDR,VISITOR,EST_BLDGSQFT
1,2,1,4500,1900,3471,MIXRES,0,0,3471,0,0,0,4500
20,21,3,1438,1907,3862,MIXRES,0,0,3862,0,0,0,1438
43,44,4,8619,1911,3157,MIXRES,0,0,1678,1479,0,0,8619
45,46,12,10080,1933,13873,MIXRES,0,0,1873,12000,0,0,10080
49,50,6,1188,1995,1678,MIXRES,0,0,1678,0,0,0,1188
52,53,3,1250,1907,2184,MIXRES,0,0,2184,0,0,0,1250
65,66,5,5400,1924,2128,MIXRES,2128,0,0,0,0,0,5400
67,68,2,2880,1927,3356,MIXRES,0,0,3356,0,0,0,2880
68,69,3,3750,1912,5126,MIXRES,0,0,0,5126,0,0,3750
69,70,4,5520,1925,0,MIXRES,0,0,0,0,0,0,5520

In [100]:
mixed_res_under_50k = land_use[(land_use['LANDUSE']=='MIXRES') & (land_use[sqft_column] < 50000)]
mixed_res_under_50k[sqft_column].sum()

88843414